#splash {
  background-size: 90% !important;
}

.progress-bar {
    background-color: white !important;
	box-shadow: 0 1px 5px #fff inset, 0 1px 0 #fff !important;
    left: 2% !important;
    top: 50% !important;
	border:2px solid #DDDDDD !important;  
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);		/* IE 9 */
	-webkit-transform: rotate(90deg);	/* Safari and Chrome */
	-o-transform: rotate(90deg);		/* Opera */
	-moz-transform: rotate(90deg);		
}